.clients-container {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(60, 60, 60);
  .clients {
    display: flex;
    column-gap: 24px;
  }
  .client {
    background: #333;
    padding: 20px;
    height: 140px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
      filter: invert(100%) saturate(0);
    }
  }
}
