nav {
    padding: 0px $padding;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;

  img {
    height: 50px;
  }
  ul {
    display: flex;
    column-gap: 32px;
    list-style: none;
    a {
      padding: 10px 12px;
      color: #444;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      &.active {
        background: $turquoise;
        color: #eee;
      }
    }
  }
  i {
    color: $turquoise;
  }
}
