.skills-container {
  background: #333;
}

.skills {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    .skill-percentage {
      height: 110px;
      width: 110px;
      margin-bottom: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $turquoise;
      border-radius: 50%;
      p {
        font-weight: 800;
        color: white;
        font-size: 20px;
      }
      span {
        font-size: 15px;
        font-weight: 500;
      }
    }
    .skill-name {
      color: #888;
      font-weight: 700;
      text-align: center;
      font-size: 15px;
    }
  }
}
