@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
.welcome {
  height: 100vh;
}

.welcome .background-img {
  height: 100vh;
  background-image: url("../img/welcome.jpg");
  background-repeat: none;
  background-size: cover;
}

.welcome .welcome-content {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome .welcome-content p.hint {
  font-size: 20px;
  text-align: center;
}

.welcome .welcome-content h1 {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 60px;
}

.welcome .welcome-content .subtitle {
  margin-bottom: 48px;
  padding: 8px 8px;
  background: black;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-style: italic;
}

.welcome .welcome-content button {
  height: 48px;
  width: 48px;
  align-self: center;
  border: 3px solid #00a59d;
  border-radius: 50%;
}

.welcome .welcome-content button i.fa-angle-down {
  font-size: 32px;
  color: #00a59d;
}

nav {
  padding: 0px 16%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
}

nav img {
  height: 50px;
}

nav ul {
  background: #fff;
  display: flex;
  align-items: center;
  column-gap: 32px;
  list-style: none;
}

nav ul a {
  padding: 10px 12px;
  color: #444;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

nav ul a.active {
  background: #00a59d;
  color: #eee;
}

nav div {
  display: none;
}

nav i {
  color: #00a59d;
}

.services .feature-list {
  display: flex;
  column-gap: 40px;
}

.services .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services .feature .feature-icon {
  height: 100px;
  width: 100px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  border-radius: 50%;
}

.services .feature .feature-icon i {
  color: white;
  font-size: 32px;
}

.services .feature .feature-name {
  margin-bottom: 12px;
  font-weight: 900;
}

.services .feature .feature-desc {
  margin-bottom: 24px;
  color: #666;
}

.services .feature button {
  padding: 6px 10px;
  color: #888;
  border: 1px solid #cacaca;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.skills-container {
  background: #333;
}

.skills {
  display: flex;
  justify-content: space-evenly;
}

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.skill {
  height: 110px;
  width: 110px;
  position: relative;
}

.skill:nth-child(3n + 1) {
  clear: both;
}

.skill .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 110px, 110px, 55px);
  left: 0;
  position: absolute;
  top: 0;
}

.skill .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 3px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 55px, 110px, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.skill .label {
  background: #34495e;
  border-radius: 50%;
  cursor: default;
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  color: white !important;
  font-size: 20px;
}

.skill .label .smaller {
  color: white !important;
  font-size: 12px;
  vertical-align: middle;
}

.skill .shadow {
  height: 100%;
  width: 100%;
  border: 3px solid #bdc3c7;
  border-radius: 50%;
}

.skill .skill-name {
  margin-top: 12px;
  color: #888;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.skill.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.skill.style-2 .label .smaller {
  color: #bdc3c7;
}

.skill.progress-45 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-45 .pie .left-side {
  transform: rotate(162deg);
}

.skill.progress-45 .pie .right-side {
  display: none;
}

.skill.progress-92 .pie {
  clip: rect(auto, auto, auto, auto);
}

.skill.progress-92 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-92 .pie .left-side {
  transform: rotate(331.2deg);
}

.skill.progress-92 .pie .right-side {
  transform: rotate(180deg);
}

.skill.progress-69 .pie {
  clip: rect(auto, auto, auto, auto);
}

.skill.progress-69 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-69 .pie .left-side {
  transform: rotate(248.4deg);
}

.skill.progress-69 .pie .right-side {
  transform: rotate(180deg);
}

.skill.progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}

.skill.progress-100 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-100 .pie .left-side {
  transform: rotate(360deg);
}

.skill.progress-100 .pie .right-side {
  transform: rotate(180deg);
}

.skill.progress-83 .pie {
  clip: rect(auto, auto, auto, auto);
}

.skill.progress-83 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-83 .pie .left-side {
  transform: rotate(298.8deg);
}

.skill.progress-83 .pie .right-side {
  transform: rotate(180deg);
}

.skill.progress-50 .pie .half-circle {
  border-color: #00a59d;
}

.skill.progress-50 .pie .left-side {
  transform: rotate(180deg);
}

.skill.progress-50 .pie .right-side {
  display: none;
}

.skill--solid {
  border-radius: 50%;
  overflow: hidden;
}

.skill--solid:before {
  border-radius: 0 100% 100% 0 / 50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}

.skill--solid .label {
  background: transparent;
}

.features-container {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.features-container .feature {
  width: 360px;
  display: grid;
  column-gap: 16px;
  row-gap: 4px;
  grid-template-areas: "image title" "image subtitle" "image description";
  position: relative;
}

.features-container .feature .feature-image {
  height: max-content;
  grid-area: image;
}

.features-container .feature .feature-image img {
  width: 40px;
}

.features-container .feature .feature-image i {
  font-size: 18px;
  color: #cacaca;
}

.features-container .feature .feature-image .icon-wrapper {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 11px;
  top: 11px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.features-container .feature p.feature-title {
  grid-area: title;
  font-weight: 800;
  color: #666;
}

.features-container .feature p.feature-subtitle {
  grid-area: subtitle;
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
}

.features-container .feature p.feature-desc {
  margin-top: 12px;
  grid-area: description;
  color: #666;
  line-height: 1.5;
}

.clients-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  background: #3c3c3c;
}

.clients-container .clients {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.clients-container .client {
  background: #333;
  padding: 20px;
  height: 140px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-container .client img {
  width: 80%;
  filter: invert(100%) saturate(0);
}

.contacts-container {
  background: #333;
  color: #dadada;
}

.contacts-container .contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.contacts-container .contacts .contact {
  width: auto;
}

.contacts-container .contacts .contact img {
  width: 100%;
}

.contacts-container .contacts .contact .contact-details {
  padding: 0 0 24px 0;
  margin-top: -4px;
  border: 2px solid #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.contacts-container .contacts .contact .name {
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.contacts-container .contacts .contact .name p {
  padding: 12px 16px;
  width: max-content;
  border-radius: 4px;
  background: #00a59d;
  font-size: 13px;
  font-weight: 800;
}

.contacts-container .contacts .contact .position {
  color: #666;
  font-size: 13px;
}

.contacts-container .contacts .contact hr {
  width: 100px;
  border: none;
  border-top: 1px solid #aaa;
}

.contacts-container .contacts .contact .row {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: #aaa;
}

.contacts-container .contacts .contact .row p {
  font-size: 14px;
}

.contacts-container button {
  width: 100%;
  margin-top: 48px;
  padding: 12px 0;
  background: #00a59d;
  color: #dadada;
  border-radius: 4px;
  font-weight: 800;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #aaa;
  font-size: 13px;
}

.form-container h1 {
  margin-bottom: 24px;
  color: #00a59d;
  font-size: 48px;
  font-style: italic;
}

.form-container form {
  width: 100%;
  padding: 24px;
  border: 2px solid #cacaca;
  display: grid;
  column-gap: 48px;
  row-gap: 24px;
  grid-template-areas: "name occupation" "email telephone" "message message" "btn btn";
  justify-content: center;
}

.form-container form input,
.form-container form select,
.form-container form textarea {
  width: 400px;
  border: 1px solid #cacaca;
  padding: 16px;
  border-radius: 4px;
  resize: none;
}

.form-container form #input-name {
  grid-area: name;
}

.form-container form #input-email {
  grid-area: email;
}

.form-container form #input-message {
  grid-area: message;
}

.form-container form #input-occupation {
  grid-area: occupation;
}

.form-container form #input-telephone {
  grid-area: telephone;
}

.form-container form button#submit-form-btn {
  width: 260px;
  padding: 12px;
  grid-area: btn;
  background: #00a59d;
  color: #eaeaea;
  border-radius: 4px;
  font-weight: 800;
}

.reviews-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00a59d;
}

.review div {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.review div p.reviewer {
  padding: 8px 12px;
  background: #eaeaea;
  color: #aaa;
  font-size: 14px;
  font-style: italic;
  width: max-content;
  border-radius: 4px;
}

.review div span {
  color: #00a59d;
  font-size: 15px;
  font-style: initial;
  font-weight: 800;
}

.review p.review-text {
  text-align: center;
  color: #eee;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.buttons {
  margin-top: 24px;
  display: flex;
  column-gap: 8px;
}

@media screen and (max-width: 1366px) {
  body nav ul {
    width: 100%;
    position: absolute;
    flex-direction: column;
    row-gap: 24px;
    left: 0;
    top: 75px;
    z-index: 99;
    transform: translateX(100%);
    transition: 0.3 ease-in-out;
  }
  body nav div {
    display: block;
  }
  body nav button:focus ul {
    transform: translateX(0%);
  }
  body nav:focus-within {
    overflow: unset !important;
  }
  body .contacts {
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    row-gap: 48px;
  }
  body .contacts .contact {
    width: 320px !important;
  }
  body .clients {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
  }
  body .clients .client {
    width: 320px;
  }
  body .clients .client:nth-child(3), body .clients .client:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .skills {
    display: grid;
    justify-items: center !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
  }
  .client {
    width: 320px;
  }
  .client:nth-child(2) {
    display: none;
  }
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .welcome {
    text-align: center;
  }
  .welcome .hint {
    margin-bottom: 12px;
    font-size: 16px !important;
  }
  .welcome h1 {
    margin-bottom: 12px !important;
  }
  .heading .title {
    display: flex !important;
    column-gap: 10px;
  }
  .heading .lines div {
    display: none;
  }
  .heading h2 {
    font-size: 20px !important;
  }
  .heading .title,
  .heading .subtitle {
    text-align: center;
    line-height: 1.5;
  }
  .feature-list {
    flex-wrap: wrap;
    row-gap: 48px;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .form-container h1 {
    font-size: 20px !important;
    text-align: center;
  }
  .form-container input,
  .form-container textarea,
  .form-container select,
  .form-container button {
    width: 100% !important;
  }
  .contacts .contact img {
    width: 100% !important;
  }
  .clients-container .client {
    width: 200px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

button,
input {
  border: none;
  background: none;
  outline: none;
}

.container {
  height: max-content !important;
  position: relative;
  padding: 80px 16%;
}

.icon-on-top {
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  width: 60px;
  position: absolute;
}

.icon-on-top img {
  width: 100%;
}

.icon-on-top i {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dadada;
  font-size: 20px;
}

.heading {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.heading.dark .title {
  color: #dadada;
}

.heading.dark .title .lines div {
  background: #666;
}

.heading.dark .subtitle {
  color: #666;
}

.heading .title {
  display: grid;
  grid-template-columns: 0.4fr auto auto auto 0.4fr;
  justify-content: space-between;
  align-items: center;
}

.heading .title h2 {
  font-size: 28px;
  font-weight: 900;
}

.heading .title h2 span {
  color: #00a59d;
}

.heading .title img {
  width: 30px;
}

.heading .title img:nth-child(2) {
  transform: rotate(180deg);
}

.heading .title .lines {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
}

.heading .title .lines.white div {
  background: #fff !important;
}

.heading .title .lines div {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.heading .subtitle {
  color: #999;
  font-weight: 600;
  align-self: center;
}

button.nav-btn {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
}

button.dark-nav-btn {
  background: #444;
  color: #eaeaea;
}

button.light-nav-btn {
  background: #eaeaea;
  color: #00a59d;
}

button.colored-nav-btn {
  color: #eaeaea;
  background: #00a59d;
}
/*# sourceMappingURL=style.css.map */